<div id="<%= dom_id currency_conversion %>">
  <p>
    <strong>Amount:</strong>
    <%= currency_conversion.amount %>
  </p>

  <p>
    <strong>From:</strong>
    <%= currency_conversion.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= currency_conversion.to %>
  </p>

  <p>
    <strong>Conversion amount:</strong>
    <%= currency_conversion.conversion_amount %>
  </p>

</div>
