<div class="col-2">
<%= form.label :amount, "Amount", class: "mb-3" %><br>
<%= form.number_field :amount, step: 0.01, class: "form-control", required: true %>
</div>

<div class="col-2">
<%= form.label :from, "From Currency", class: "mb-3" %><br>
<%= form.select :from, options_for_select(@currencies), {}, class: "form-control" %>
</div>

<div class="col-2">
<%= form.label :to, "To Currency", class: "mb-3" %><br>
<%= form.select :to, options_for_select(@currencies), {}, class: "form-control" %>
</div>