<% content_for :title, "Editing currency conversion" %>

<h1>Editing currency conversion</h1>

<%= form_with model: @currency_conversion, local: true do |form| %>
  <%= render "form_fields", form: form %>
  <div>
    <%= form.submit "Update conversion", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this currency conversion", @currency_conversion %> |
  <%= link_to "Back to currency conversions", root_path %>
</div>
